* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.sm-only,
.md-only {
  display: none;
}

.md-hidden {
  display: block;
}

.wrapper {
  padding-top: 150px;
  background: #fff;
}


/* 회원가입 페이지 시작*/
main {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}


.login-wrap h1 {
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

.login-box-list {
  width: 330px;
  margin: 45px auto;
}

.login-box-item {
  margin-bottom: 10px;
}

.inputbox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.inputbox input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-login {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.btn-login:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-sign {
  width: 330px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 16px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.btn-sign:hover {
  background-color: #000;
  color: #fff;
}

.btn-sign:hover.btn-sign a {
  color: #fff;
}

.boder-act {
  border: 2px solid #000;
}

.warn {
  width: 100%;
  height: 20px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 700;
}

.account-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connext {
  text-align: center;
  font-size: 18px;
}

.sns-log {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.sns-log a {
  position: relative;
  height: 40px;
  width: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sns-log img {
  position: absolute;
  width: 20px;
  top: 0;
  left: 0;
  transform: translate(45%, 45%);
  object-fit: cover;
}

.forget,
.link-sign {
  display: block;
  width: 330px;
  font-size: 14px;
  text-align: right;
}

/* 로그인 페이지 끝 */